<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 mt-4">
            <p>권한 관리</p>
            <hr/>
          </div>
          <div class="col-sm-6 mt-4">
              <p>역할 조회</p>
              <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role Id</th>
                        <th>Role Name</th>
                    </tr>
                </thead>
                <tbody id="roleTbody"></tbody>
              </table>
          </div>
          <div class="col-sm-6 mt-4">
            <p>권한 조회</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>역할 이름</th>
                    </tr>
                </thead>
                <tbody id="prTbody"></tbody>
            </table>
            <button class="btn btn-default" id="btnAddPrivilege">역활수정</button>
        </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">역할 수정</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
        
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div>
                                <h5 id="clickRoleBody"></h5>
                                <hr/>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <h5>등록된 역할</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="nowPrivilege"></tbody>
                                </table>
                            </div>
                            <div class="col-sm-6 mt-2">
                                <h5>전체 역할조회</h5>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>ID</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="clickPrivilegeBody"></tbody>
                                </table>
                                <button type="button" class="btn btn-info" id="btnAddChkBox">추가</button>
                            </div>
                        </div>
                    </div>
                </div>
        
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

          <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        let clickRoleId = '';
        let globalRole = [];
        let globalPrivileges = [];
        // 전체 역할
        let globalTotalPrivileges = [];
        $(document).ready(() => {

            $.ajax({
                url : '/user/fetchUserRoleList',
                method : 'GET',
                success : ((data) => {
                    console.log('역할 조회 ', data);
                    if(data.length > 0){
                        let tbody = '';
                        for(let i = 0; i < data.length; i++){
                            tbody += '<tr onClick="fnHandleDetail('+data[i].id+')">';
                                tbody += `<td>${data[i].id}</td>`;
                                tbody += `<td>${data[i].roleId}</td>`;
                                tbody += `<td>${data[i].roleName}</td>`;
                            tbody += '</tr>';
                        }
                        globalRole = [...data];
                        $('#roleTbody').html(tbody);
                    }else{
                        $('#roleTbody').html('<tr><td colspan="3">등록된 역할이 없습니다.</td></tr>');
                    }
                })
            });   

            // 전체 역할조회 
            $.ajax({
                url : '/user/fetchPrivilegesList',
                method : 'GET',
                success : ((data) => {
                    console.log('전체 privileges', data);
                    globalTotalPrivileges = [...data];
                })
            });
            
            // 역할 수정 버튼 클릭시
            $('#btnAddPrivilege').on('click', () => {
                console.log('확인중',globalPrivileges);

                // 초기화
                $('#nowPrivilege').empty();

                let tbody = '';
                for(let i = 0; i < globalPrivileges.length; i++){
                    tbody += '<tr>';
                        tbody += `<td>${globalPrivileges[i].id}</td>`;
                        tbody += `<td>${globalPrivileges[i].name}</td>`;
                    tbody += '</tr>';
                }
                $('#nowPrivilege').html(tbody);

                if(globalRole.length > 0){
                    const roleData = [...globalRole].filter((v) => v.id === clickRoleId);
                    let pTag = `클릭한 역할 : ${roleData[0].roleId} - ${roleData[0].roleName}`;
                    $('#clickRoleBody').html(pTag);
                }
                $('#myModal').modal('show');
            });

            // 모달 내부에서 클릭한 역찰 추가하는 경우 
            $('#btnAddChkBox').on('click', () => {
                const checkedData = [];
                for(let i = 0; i < globalTotalPrivileges.length; i++){
                    // true 면 체크 되었다는 의미
                    if($(`#${globalTotalPrivileges[i].id}_${globalTotalPrivileges[i].name}`).is(':checked')){
                        checkedData.push(globalTotalPrivileges[i]);
                    }
                }
                const con = confirm('추가 하시겠습니까?');
                if(con){
                    
                    const filterRole = globalRole.filter((v) => v.id === clickRoleId);
                    if(checkedData.length > 0){

                        const requestDTO = {
                            role : filterRole[0],
                            privileges : [...checkedData]
                        }

                        $.ajax({
                            url : '/user/addPrivilege',
                            data : requestDTO,
                            method : 'POST',
                            success : ((data) => {
                                console.log(result);
                                console.log('결과 -> ',JSON.parse(data));
                            })
                        })
                    }else{
                        alert('체크 해주세요');
                    }
                }
            });
        });

        function fnHandleDetail(roleId) {
            console.log('클릭한 녀석 ---');
            clickRoleId = roleId;
            $.ajax({
                url : '/user/fetchPrivileges',
                method : 'POST',
                data : {roleId : roleId},
                success : ((data) => {
                
                    if(data.length > 0){
                        const privileges = data[0].privileges;
                        globalPrivileges = [...privileges];
                        
                        let tbody = '';
                        if(privileges.length > 0){
                            for(let i = 0; i < privileges.length; i++){
                                tbody += '<tr>';
                                    tbody += `<td>${privileges[i].id}</td>`;
                                    tbody += `<td>${privileges[i].name}</td>`;
                                tbody += '</tr>';
                            }
                        }else{
                            tbody = '<tr><td colspan="2">등록된 역할이 없습니다.</td></tr>';
                        }
                        $('#prTbody').html(tbody);
                    }else{
                        alert('등록된 역할이 없습니다.');
                    }
                }),
            });      

            let tbody = '';
            for(let i = 0; i < globalTotalPrivileges.length; i ++){
                tbody += '<tr>';
                    tbody += `<td><input type="checkbox" id='${globalTotalPrivileges[i].id}_${globalTotalPrivileges[i].name}'/></td>`;
                    tbody += `<td>${globalTotalPrivileges[i].id}</td>`;
                    tbody += `<td>${globalTotalPrivileges[i].name}</td>`;
                tbody += '</tr>';
            }
            $('#clickPrivilegeBody').html(tbody);
        }
    </script>
</body>
</html>