<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
          <div class="col-sm-12 mt-4">
            <p>브랜드 상세정보</p>
            <hr />
            <form method="post" action="/brand/insertBrand">
                <div class="mb-3">
                    <label for="id" class="form-label">브랜드 아이디</label>
                    <input type="text" class="form-control" id="id" name="id" placeholder="로그인시 사용할 아이디">
                  </div>
                  <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="이름">
                  </div>
                   <div class="mb-3">
                    <label for="logo" class="form-label">로고</label>
                    <input type="text" class="form-control" id="logo" name="logo" placeholder="이름">
                  </div>
      
                   <div class="mb-3">
                    <label for="logo" class="form-label">칼라</label>
                    <input type="text" class="form-control" id="color" name="color" placeholder="이름">
                  </div>
            </form>
          </div>
        </div>
    </div>

     <!-- Option 1: Bootstrap Bundle with Popper -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
     <script>
         
        $(function(){
            const path = window.location.pathname.split('/');
            const id = path[path.length -1];

            $.ajax({
                url : '/brand/detailBrandInfo',
                data : {id : id},
                method : 'POST',
                success : ((data) => {
                    console.log('data', data);
                    $('#id').val(data.id);
                    $('#name').val(data.name);
                    $('#logo').val(data.logo);
                    $('#color').val(data.color);
                })
            })
        });

     </script>

</body>
</html>